.header {
    color: #03045e;
    text-align: center;
    font-size: 6em;
    height: 25vh;
    margin-bottom: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.no-response,
.with-response {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 75vh;
}

.no-response {
    justify-content: flex-start;
}

.with-response {
    justify-content: space-between;
}

.user_input {
    width: 50vw;
    height: 5vw;
    background-color: #90e0ef;
    opacity: 50%;
    color: #0077b6;
    resize: none;
    font-size: 1.5em;
    margin: 1em 2em 2em 2em;
    padding: 0.1em;
    border-radius: 0.5em;
}

.user_input:focus {
    outline: none;
}

.responses {
    overflow-y: scroll;
    height: 75%;
    max-height: 75%;
    scrollbar-width: none;
}

.response {
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: #90e0ef;
    opacity: 50%;
    color: #0077b6;
    padding: 0.1em;
    border-radius: 0.5em;
    margin: 0.5em;
}

.response_user_input {
    width: 50%;
    padding-left: 48%;
    margin: 1%;
    text-align: right;
}

.response_model_output {
    margin: 1%;
}

hr {
    border: none;
    height: 2px;
    margin: 0.5em;
    border-top: 1px solid #0077b6;
    height: 0;
}
